<html>
    <head>
        <title>img hosting</title>
        <link href="/static/css/basic.css" type="text/css" rel="stylesheet" />
        <link href="/static/css/dropzone.css" type="text/css" rel="stylesheet" />

    </head>
    <body>
        Hello, {{.Name}}
        <br>

        <script src="/static/dropzone.js"></script>
        <script>
            Dropzone.options.uploadFilesId = {
                paramName: "file",
                maxFileSie: 10,
                acceptedFiles: "image/*",
                success: function (file, response) {
                    obj = JSON.parse(response);
                    alert(obj.FileUrl);
                }
            }
        </script>
        <form action="/upload"
              class="dropzone"
              id="uploadFilesId"></form>
    </body>
</html>
